.vs/RpgOl/DesignTimeBuild/.dtbcache.v2
API/obj/Container/ContainerDevelopmentMode.cache
API/obj/Container/ContainerId.cache
API/obj/Container/ContainerName.cache
API/obj/Container/ContainerRunContext.cache
