.vs/RpgOl/DesignTimeBuild/.dtbcache.v2
API/obj/Container/ContainerDevelopmentMode.cache
API/obj/Container/ContainerId.cache
API/obj/Container/ContainerName.cache
API/obj/Container/ContainerRunContext.cache
/RpoOlDb/bin/Debug
/RpoOlDb/obj/Debug
/RpgOl.Api/obj/Debug/net5.0
/RpgOl.Domain/obj/Debug/net5.0
